.term-of-service-container {

  .container {
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    display: flex;
    margin: 10px;
  }

  .etoil {
    flex: 0 0 30%;
    margin-left: 5px;
    position: sticky; /* Set position to sticky */
    position: -webkit-sticky;
    top: 10px; /* Distance from the top of the container */
  }

  .content {
    flex: 0 0 60%;
  }

  .table-of-contents h5 {
    margin-bottom: 10px;
  }

  .etoil ul {
    list-style-type: none;
    padding: 0;
  }
  .etoil h3 {
    margin-top: 50px;
  }

  .etoil li {
    margin-bottom: 5px;
  }

  .etoil a {
    text-decoration: none;
    color: #000;
  }

  .etoil a:hover {
    text-decoration: underline;
  }
  .etoil img {
    width: 50%;
  }

  #s1,
  #s2,
  #s3,
  #s4 {
    margin: 30px 50px;
  }

  .image-term img {
    width: 100%;
    height: 450px;
    margin: 10px 5px;
  }
  .image-term h1 {
    position: absolute;
    top: 34%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 100px;
    font-family: Robot Roc;
  }
}
